* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  height: 100vh;
  
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
.indexbod{
  background: url(./img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.indextxt1{
  font-size: 4em;
  color: white;
text-align: center;
top: 60%;
position: absolute;
left: 50%;
transform: translate(-50%,-50%);
}
.blackbackground{
background-color: black;
}
.whitetxt{
  color: white;
}
.footer{
  position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 100px;
background-color: #00a8c7;
color: white;
text-align: center;
font-size: 1.5rem;
align-items: center;
flex-wrap: wrap;
margin: auto;
padding: 4rem;
}
.textboxhtml{
width: 500px;
float: right;
position: absolute;
left: 51%;
top: 30%;
}
.htmlcssimg{
  float: left;
  margin: 100px;
  position: absolute;
  top: 20%;
}
.htmlcsstxt{
  text-align: center;
  top: 25%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}
.watishtmltxt{
  font-size: 30px;
}
.htmltxt{
  font-size: 18px;
}
.jsimg{
  float: right;
  margin: 20px;
}
.jstxt{
  float: left;
  position: absolute;
  color: white;
top: 50%;
padding-left: 100px;
width: 600px;
font-size: 15px;
}
.jstitle{
  color: white;
  text-align: center;
  top: 25%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}
.phpimg{
  float: left;
  margin: 20px;
  width: 400px;
}
.phptitle{
  text-align: center;
  top: 25%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}
.phptxt{
  right: 1%;
  position: absolute;
top: 50%;
padding-right: 100px;
width: 600px;
font-size: 15px;
}
.sqlimg{
  width: 400px;
  float: right;
  margin: 20px;
}
.sqltitle{
  color: white;
  text-align: center;
  top: 25%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}
.sqltxt{
  color: white;
  position: absolute;
top: 50%;
padding-left: 100px;
width: 600px;
font-size: 15px;
}
.contacttitle{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  top: 25%;
}