*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color:rgb(254, 84, 84);
    color: white;
    height: 50px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    list-style: none;
}
.box1{
background-color: yellow;
height: 230px;
padding-left: 50px;
padding-top: 15px;
}
.box2{
background-color: orange;
height: 230px;
padding-left: 50px;
padding-top: 15px;
}
.box3{
background-color: rgb(98, 216, 98);
height: 230px;
padding-left: 50px;
padding-top: 15px;
}
.mobile-dropdown{
    width: 20px;
    height: 20px;
    background-color: white;
    visibility: hidden;
}
@media (max-width: 768px){
.box1{
    color: white;
    background-color: rgb(255, 77, 77);
}
.box2{
    color: white;
    background-color: rgb(83, 83, 255);
}
.box3{
    color: white;
    background-color: blue;
}
.navbar{
    justify-content: center;
    height: 50px;
    background-color: rgb(253, 116, 139);
}
}
@media (max-width: 576px){
    .box1{

background-color: rgb(161, 239, 254);
    }
    .box2{
background-color: rgb(250, 108, 255);
    }
    .box3{
background-color: rgb(53, 53, 118);
    }
    .navbar{
        justify-content: space-between;
        padding: 50px;
background-color: rgb(106, 106, 209);
    }
    .items{
        text-align: center;
    }
    .mobile-dropdown{
        visibility: visible;
    }
    }
